<%- include('./partials/head') %>
    <header>
        <img src="/assets/img/<%= data[0].url %> " alt="">
        <h2>
            <%= data[0].title %>
        </h2>
    </header>
    <h3> All articles</h3>
    <div class="grid">
        <% for(let i=1; i<data.length; i++){%>
            <div>
                <img src="/assets/img/<%= data[i].url %> " alt="">
                <p>
                    <a href="/<%= data[i].id %> ">
                        <%= data[i].title %>
                    </a>
                </p>

            </div>

            <% } %>

    </div>

    <%- include('./partials/footer') %>